$breadcrumb-divider: "▶" !default;
$breadcrumb-divider-rtl: "◀" !default;

// Specific overrides to make Bootstrap RTL.
@import "moodle/bootstrap-rtl";

// Old Moodle stuff from base theme.
// Massive, needs broken up.
@import "moodle/variables";
@import "moodle/core";
@import "moodle/icons";
@import "moodle/admin";
@import "moodle/badges";
@import "moodle/blocks";
@import "moodle/blog";
@import "moodle/bootswatch";
@import "moodle/calendar";
@import "moodle/contentbank";
@import "moodle/course";
@import "moodle/database";
@import "moodle/drawer";
@import "moodle/dashboard";
@import "moodle/filemanager";
@import "moodle/message";
@import "moodle/question";
@import "moodle/user";
@import "moodle/search";
@import "moodle/forms";
@import "moodle/login";
@import "moodle/modules";
@import "moodle/chat";
@import "moodle/assign";
@import "moodle/book";
@import "moodle/choice";
@import "moodle/feedback";
@import "moodle/forum";
@import "moodle/glossary";
@import "moodle/lesson";
@import "moodle/workshop";
@import "moodle/reports";
@import "moodle/scorm";
@import "moodle/backup-restore";
@import "moodle/tables";
@import "moodle/buttons";
@import "moodle/grade";
@import "moodle/templates";
@import "moodle/undo";
@import "moodle/debug";
@import "moodle/sticky-footer";
@import "moodle/popover-region";
@import "moodle/tool_usertours";
@import "moodle/modal";
@import "moodle/layout";
@import "moodle/frontpage";
@import "moodle/prefixes";
@import "moodle/atto";
@import "moodle/addons";
@import "moodle/addons-swiper-core";
// Moodle 4.x.
@import "moodle/navbar";
@import "moodle/reportbuilder";
@import "moodle/courseindex";
@import "moodle/moremenu";
@import "moodle/primarynavigation";
@import "moodle/secondarynavigation";
@import "moodle/tertiarynavigation";
@import "moodle/rtl";
