//---- Feedback
//---- Module Activity
.path-mod-feedback {
    .nav + .singleselect {
        display: block!important;
    }
}

#page-mod-feedback-use_templ {
    .mform:not(.feedback_form) {
        .col-md-3 {
            display: none;
        }
    }
}

#feedback_dragarea {
    border: 2px dashed $border-color;
}

#feedback_complete_form {
    border: 1px solid $border-color;
}

#feedback_print_form,
#feedback_complete_form,
#feedback_dragarea {
    margin-top: $page-padding-global;
    padding: 0 40px;
    border-radius: $border-radius;

    .dropdown-btn {
        padding: 10px 20px;
        font-size: $font-size-sm;
    }

    .feedback_itemlist {
        padding: 10px 20px;
        margin: 0 -40px;
        width: calc(100% + 80px);
        max-width: calc(100% + 80px);
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: none;
        }

        &.feedback_is_dependent {
            padding-left: 40px!important;
        }

    }

    .custom-control-inline {
        margin-left: 5px;
    }

    .col-md-3,
    .col-md-9 {
        padding: 12px 40px!important;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left!important;
    }

    .col-form-label,
    .col-md-3 .itemname {
        font-size: 1.125rem;
        font-weight: $font-weight-normal;
    }

    #fgroup_id_buttonar {
        .col-md-9 {
            padding-top: 20px!important;
            padding-bottom: 20px!important;
            padding-left: 0!important;
            padding-right: 0!important;
        }

        fieldset {
            width: 100%;

            .rui-form-element-group {
                justify-content: space-between;

                .btn {
                    margin: 0;
                }
            }
        }
    }

    .mform .form-inline .form-group {
        margin: 0;
    }
}

.col-form-label {
    .rui-icon-container {
        display: inline-grid;
    }
}

.feedback_form {
    .custom-control {
        padding-left: 0;
    }
}

.path-mod-feedback div.feedback_is_dependent {
    background-color: transparent;

    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 20px;

        width: 20px;
        height: 20px;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.25 7C9.25 8.24264 8.24264 9.25 7 9.25C5.75736 9.25 4.75 8.24264 4.75 7C4.75 5.75736 5.75736 4.75 7 4.75C8.24264 4.75 9.25 5.75736 9.25 7Z' stroke='#{url-friendly-colour($body-color)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.75 9.5V14.5' stroke='#{url-friendly-colour($body-color)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.75 12.25H15.25C16.3546 12.25 17.25 11.3546 17.25 10.25V9.5' stroke='#{url-friendly-colour($body-color)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.25 7C19.25 8.24264 18.2426 9.25 17 9.25C15.7574 9.25 14.75 8.24264 14.75 7C14.75 5.75736 15.7574 4.75 17 4.75C18.2426 4.75 19.25 5.75736 19.25 7Z' stroke='#{url-friendly-colour($body-color)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.25 17C9.25 18.2426 8.24264 19.25 7 19.25C5.75736 19.25 4.75 18.2426 4.75 17C4.75 15.7574 5.75736 14.75 7 14.75C8.24264 14.75 9.25 15.7574 9.25 17Z' stroke='#{url-friendly-colour($body-color)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
}

#page-mod-quiz-edit ul.slots li.section li.activity.page,
.feedback-item-pagebreak {
    background-image: url([[pix:theme|diagonal-lines]]);
    background-repeat: repeat;
    background-size: 5px;
    background-color: $gray-100;

    h4 {
        color: $body-color;
    }
}

.theme-dark {
    &#page-mod-quiz-edit ul.slots li.section li.activity.page,
    .feedback-item-pagebreak {
        filter: invert(1);
    }
}

#page-mod-feedback-print .continuebutton {
    margin-bottom: 1rem;
}

.path-mod-feedback .itemactions {
    position: absolute;
    top: 5px;
    right: 60px;
}

.path-mod-feedback .itemhandle {
    margin: 0;
    position: absolute;
    top: 13px;
    right: 10px;
}

.path-mod-feedback span.feedback_depend {
    display: inline-grid;

    margin-left: .35rem;
    padding: .35rem .5rem;

    border-radius: $border-radius;
    background-color: $green-100;

    font-size: $font-size-xs;
    color: $green-600;
}

#page-mod-feedback-complete [align="center"] {
    text-align: left;
}

#feedback_subject {
    width: auto;
    margin-bottom: .35rem;
}

#showentrytable {
    .c10 {
        max-width: 300px;
        font-size: $font-size-sm;
    }
}

.path-mod-feedback table.analysis {
    border: none;

    th {
        font-size: 1.125rem;
    }
}

.chart-table-data {
    border: 1px solid $border-color;
    border-radius: $border-radius;

    font-size: $font-size-sm;

    table {
        margin: 0;

        tr {
            border-bottom: 1px solid $border-color;

            th {
                background-color: $gray-100;
            }

            &:last-of-type {
            border-bottom: none;
            }
        }

    }

}

#fitem_id_anonymousmode {
    .felement {
        padding: 0!important;
        margin-top: 10px;

        font-weight: $font-weight-bold;
    }
}

.feedback_description {
    .no-overflow+.tertiary-navigation {
        margin-top: 30px;
    }
}