//---- Glossary
//---- Module Activity

#page-mod-glossary-view table.glossarycategoryheader {
    h3 {
        font-size: 2.5rem;
    }
}

//----- Continuous & FAQ Template
.continuous,
.faq,
.dictionary
{
    .entryheader {
        border-bottom: 1px solid $border-color;

        .concept {
            color: $body-color-secondary;

            h4 {
                margin: 1rem 0;
                font-size: 1.5rem;
                color: $body-color;
                line-height: 1.5;
            }
        }
    }

    .entry {
        padding-top: 1rem;

        b {
            margin: 1rem 0;
            font-size: 1rem;
        }
    }
}

.continuous,
.faq,
.fullwithauthor,
.fullwithoutauthor,
.dictionary
{

    .time {
        display: block;
        margin: .5rem 0;
        font-size: $font-size-xs;
        color: $body-color-light;
    }

    .attachments {
        margin: 1rem 0;
        padding: .5rem 1rem .5rem .5rem;

        display: inline-flex;
        align-items: center;

        background-color: $gray-100;
        border-radius: $border-radius;

        color: $body-color;

        .icon {
            margin-right: .35rem;

            width: 40px;
            height: 40px;
        }

        a {
            padding: .25rem;

            font-size: $font-size-sm;
            font-weight: $font-weight-medium;
            color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

//----- Encyclopedia, Full with and withour author Template
.fullwithoutauthor,
.fullwithauthor,
.encyclopedia
{
    .userpicture {
        border-radius: $border-radius;
    }

    .concept {
        h4 {
            margin: 0 0 .5rem;
        }
    }

    .author {
        display: inline-flex;
        margin: .5rem 0;
        font-size: $font-size-xs;
        color: $body-color-light;

        a {
            margin: 0 .25rem;
        }
    }

    .entrylowersection {
        padding-top: 1rem;
    }
}

.glossarypost {
    .aliases,
    .entrylowersection {
        display: block;
        margin-top: .35rem;
        text-align: left;

        label {
            margin-right: .35rem;
        }
    }

    .attachments {
        margin: 1rem 0;

        img {
            border-radius: $border-radius;
        }
    }
}


// Mod Glossary UI
.glossaryexplain {
    margin: 2rem 0 1rem;
}


//hack for pagination
.path-mod-glossary .entrybox {
    text-align: center;
}

.entrybox {
    table th, table td {
        border: 0;
    }
}

#page-mod-glossary-view {
    .main-content {

        .glossaryexplain
        {
            margin: 2rem auto;
        }

        .glossarycontrol,
        .simplesearchform,
        .glossaryaddentry
        {
            margin: 0 auto;

            float: none;
        }

        .glossarycontrol {
            text-align: left!important;
        }

        .glossaryaddentry {
            display: block;
            margin-bottom: 2.5rem;

            div {
                width: 100%;

                .btn {
                    margin: 0;
                    width: 100%;
                }
            }
        }

        hr {
            margin-top: 2rem;
            margin-bottom: 2rem;

            width: 60px;
        }
    }

    #intro {
        display: block;
        margin: 0 auto 2rem auto;
        padding: 0!important;
    }
}
